body {
	font-size: 16px;
	color: black;
	font-family: 'Oxygen', sans-serif;
}

.navbar-brand a {
	color: black;
	font-weight: bold;
	font-size: 2em;
}

.navbar-header {
	border-bottom: 2px solid black;
}

#header-nav {
	background-color: grey;
	border-radius: 0;
	border: 0;
}

.navbar-header a h1 {
	color: black;
	font-weight: bold;
}

.navbar-header a:hover {
	text-decoration: none;
}

#collapsable-nav {
	background-color: white;
}

#nav-list a {
	color: black;
	text-align: center;
	border-bottom: 2px solid black;
	font-size: 1.3em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid black;
}

.navbar-header .icon-bar {
	height: 4px;
}

.navbar-header button.navbar-toggle:hover,
.navbar-header button.navbar-toggle:hover .icon-bar {
	border-color: white;
	color: white;
	background-color: transparent;
}

.navbar-header button.navbar-toggle:active,
.navbar-header button.navbar-toggle:active .icon-bar {
	border-color: white;
	color: white;
	background-color: transparent;
}

.navbar-header button.navbar-toggle:focus,
.navbar-header button.navbar-toggle:focus .icon-bar {
	border-color: white;
	color: white;
	background-color: transparent;
}

.menu-item {
	padding-bottom: 15px;
}

.menu-item-text {
	background-color: grey;
	height: 100%;
	padding: 10px 15px;
	position: relative;
	overflow: hidden;
	height: 700px;
}

.back-to-top-link {
	color: blue;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
}

/* Medium devices */
@media (min-width: 768px) {
	#collapsable-nav {
		opacity: 0;
	}

	.navbar-header {
		border-bottom: none;
	}

	#header-nav {
		border-bottom: 2px solid black;
	}
}

/* Medium devices */
@media (min-width: 768px) {

}

/* Large devices */
@media (min-width: 992px) {

}